*{
    font-size: 20px !important;
    text-decoration:none !important;
    color: black !important;
}

.active{
    color: rgb(50,168,153) !important;
}

h1 {
padding: 20px;
text-align: right;
font-size: 10px;
}
